body {
    background: #2c2c2c;
    overflow: hidden;
}

a{
    text-decoration: none;
}

/* aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
} */

/* aside img{
    width: 80px;
    float: left;
} */

/* aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3{
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}

aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    transform: scale(1.05);

} */

main .features{
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    /* width: 75%; */
    width: 100%;
    height: 100vh;
}

main .features h1{
    font-size: 50px;
}
main .features p{
    max-width: 400px;
    margin: 20px auto;
}

/* .alert-warning{
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
} */

form{
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

.map-container{
    position: relative;
}

.filters{
    position: absolute;
    z-index: 1000;
    display: flex;
}

.filter{
    display: flex;
    flex-direction: column;
    width: 33%;

}
label{
    text-align: center;
    margin: 5px;
}

select{
    width: 100%;
    opacity: 75%;
    border-radius: 50px;
    margin: 10px;
    height: 7vh;
}


#map {
    position: absolute;
    height: 1000px;
    width: 100%;
    z-index: 1;
}

.disabledSelected{
    text-align: center;
}
.price-label {
    background: transparent;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.price-text {
    background-color: white;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    display: inline-block;
    min-width: 50px;
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
}
aside {
    position: absolute;
    width: 90vw;
    height: 80vh;
    z-index: 1000;
    transform: translate(0, 20%);
    background: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: .2s;
    padding: 10px;
}

.hidden{
    transform: translate(-95%, 20%);
}
.content{
    height: 100%;
    overflow-y:auto;
}

button{
    position: absolute;
    border-radius: 50%;
    right: 0;
    
}
.cardItem {
    display: flex;              
    justify-content: space-between; 
    border: 1px solid black;    
    width: 100%;               
    height: 10%;
    padding: 5px;
    overflow: hidden;
}

.service, .price, .company {
    flex: 1;
    overflow: hidden;                    
}
