{% extends 'main/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content%}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis corporis maiores aspernatur voluptate placeat illo iste eaque, doloremque consectetur reprehenderit iure pariatur distinctio molestiae quod expedita beatae sit? Necessitatibus, praesentium!</p>
        <button class="btn btn-warning">На сторінку про нас</button>

        
    </div>
{% endblock %}