{% extends 'main/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content%}
    <!-- <div class="features"> -->
        <!-- <h1>{{ title }}</h1> -->
        <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis corporis maiores aspernatur voluptate placeat illo iste eaque, doloremque consectetur reprehenderit iure pariatur distinctio molestiae quod expedita beatae sit? Necessitatibus, praesentium!</p> -->
        <div class="map-container"> 
        <div id="map"></div>
        <div class="filters">
        <div class="filter">
            <label for="serviceTypeSelect">Тип</label>
            <select id="serviceTypeSelect"></select>
        </div>
        <div class="filter">
            <label for="serviceSelect">Послуга</label>
            <select id="serviceSelect"></select>
        </div>
        <div class="filter">
            <label for="companySelect">Компанія</label>
            <select id="companySelect"></select>
        </div>
        
    </div>
    <aside class="hidden">
        <button id="toggleButton">C</button>
        <div class="content" id="aside"></div>
    </aside>
</div>
        <!-- <button class="btn btn-warning">На сторінку про нас</button> -->

    

{% endblock %}